# KHÁM PHÁ DỮ LIỆU

Dữ liệu chứa trong file `tips.csv` chứa thông tin tiền tip của khách hàng tại một nhà hàng. Dữ liệu có các thông tin sau:

- `total_bill`: tổng hoá đơn (USD)
- `tip`: tiền tip/ tiền boa (USD)
- `sex`: giới tính người thanh toán hóa đơn
- `smoker`: có hút thuốc hay không
- `day`: ngày trong tuần
- `time`: thời gian dùng bữa(buổi sáng, buổi trưa, buổi tối)
- `size`: số lượng người tham gia

Bạn hãy thực hiện thống kê mô tả để tìm hiểu về hành vi tip của khách hàng tại nhà hàng

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import cv2

In [6]:
tip = pd.read_csv("./data/tips.csv")
tip

     Unnamed: 0  total_bill   tip     sex smoker   day    time  size
0             0       16.99  1.01  Female     No   Sun  Dinner     2
1             1       10.34  1.66    Male     No   Sun  Dinner     3
2             2       21.01  3.50    Male     No   Sun  Dinner     3
3             3       23.68  3.31    Male     No   Sun  Dinner     2
4             4       24.59  3.61  Female     No   Sun  Dinner     4
..          ...         ...   ...     ...    ...   ...     ...   ...
239         239       29.03  5.92    Male     No   Sat  Dinner     3
240         240       27.18  2.00  Female    Yes   Sat  Dinner     2
241         241       22.67  2.00    Male    Yes   Sat  Dinner     2
242         242       17.82  1.75    Male     No   Sat  Dinner     2
243         243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 8 columns]

In [11]:
tip.total_bill
tip.total_bill.value_counts()

13.42    3
10.33    2
20.29    2
18.29    2
17.92    2
        ..
30.40    1
26.59    1
19.65    1
9.55     1
5.75     1
Name: total_bill, Length: 229, dtype: int64

In [12]:
#so luong ngay duoc tips nhieu nhat
tip.day
tip.day.value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [10]:
#khoang thoi gian thoi duoc tips 
tip.time.value_counts()

Dinner    176
Lunch      68
Name: time, dtype: int64

In [13]:
#so nguoi hut thuoc va khong hut thuoc
tip.smoker
tip.smoker.value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [18]:
#s luong nguoi dung bua an
tip['size']
tip["size"].value_counts()

2    156
3     38
4     37
5      5
6      4
1      4
Name: size, dtype: int64

In [37]:
#với khách hàng là nam và hút thuốc thì lượng tip là bao nhiêu
nam_hut_thuoc =tip.query('sex == "Male" and smoker == "Yes"')
nam_hut_thuoc

# ndc.query('time == "Lunch"')

     Unnamed: 0  total_bill    tip   sex smoker   day    time  size
56           56       38.01   3.00  Male    Yes   Sat  Dinner     4
58           58       11.24   1.76  Male    Yes   Sat  Dinner     2
60           60       20.29   3.21  Male    Yes   Sat  Dinner     2
61           61       13.81   2.00  Male    Yes   Sat  Dinner     2
62           62       11.02   1.98  Male    Yes   Sat  Dinner     2
63           63       18.29   3.76  Male    Yes   Sat  Dinner     4
69           69       15.01   2.09  Male    Yes   Sat  Dinner     2
76           76       17.92   3.08  Male    Yes   Sat  Dinner     2
80           80       19.44   3.00  Male    Yes  Thur   Lunch     2
83           83       32.68   5.00  Male    Yes  Thur   Lunch     2
90           90       28.97   3.00  Male    Yes   Fri  Dinner     2
95           95       40.17   4.73  Male    Yes   Fri  Dinner     4
96           96       27.28   4.00  Male    Yes   Fri  Dinner     2
97           97       12.03   1.50  Male    Yes   Fri  Dinner     2
98           98       21.01   3.00  Male    Yes   Fri  Dinner     2
105         105       15.36   1.64  Male    Yes   Sat  Dinner     2
106         106       20.49   4.06  Male    Yes   Sat  Dinner     2
107         107       25.21   4.29  Male    Yes   Sat  Dinner     2
138         138       16.00   2.00  Male    Yes  Thur   Lunch     2
170         170       50.81  10.00  Male    Yes   Sat  Dinner     3
171         171       15.81   3.16  Male    Yes   Sat  Dinner     2
172         172        7.25   5.15  Male    Yes   Sun  Dinner     2
173         173       31.85   3.18  Male    Yes   Sun  Dinner     2
174         174       16.82   4.00  Male    Yes   Sun  Dinner     2
175         175       32.90   3.11  Male    Yes   Sun  Dinner     2
176         176       17.89   2.00  Male    Yes   Sun  Dinner     2
177         177       14.48   2.00  Male    Yes   Sun  Dinner     2
179         179       34.63   3.55  Male    Yes   Sun  Dinner     2
180         180       34.65   3.68  Male    Yes   Sun  Dinner     4
181         181       23.33   5.65  Male    Yes   Sun  Dinner     2
182         182       45.35   3.50  Male    Yes   Sun  Dinner     3
183         183       23.17   6.50  Male    Yes   Sun  Dinner     4
184         184       40.55   3.00  Male    Yes   Sun  Dinner     2
187         187       30.46   2.00  Male    Yes   Sun  Dinner     5
189         189       23.10   4.00  Male    Yes   Sun  Dinner     3
190         190       15.69   1.50  Male    Yes   Sun  Dinner     2
192         192       28.44   2.56  Male    Yes  Thur   Lunch     2
193         193       15.48   2.02  Male    Yes  Thur   Lunch     2
194         194       16.58   4.00  Male    Yes  Thur   Lunch     2
196         196       10.34   2.00  Male    Yes  Thur   Lunch     2
199         199       13.51   2.00  Male    Yes  Thur   Lunch     2
200         200       18.71   4.00  Male    Yes  Thur   Lunch     3
204         204       20.53   4.00  Male    Yes  Thur   Lunch     4
206         206       26.59   3.41  Male    Yes   Sat  Dinner     3
207         207       38.73   3.00  Male    Yes   Sat  Dinner     4
208         208       24.27   2.03  Male    Yes   Sat  Dinner     2
210         210       30.06   2.00  Male    Yes   Sat  Dinner     3
211         211       25.89   5.16  Male    Yes   Sat  Dinner     4
216         216       28.15   3.00  Male    Yes   Sat  Dinner     5
217         217       11.59   1.50  Male    Yes   Sat  Dinner     2
218         218        7.74   1.44  Male    Yes   Sat  Dinner     2
220         220       12.16   2.20  Male    Yes   Fri   Lunch     2
222         222        8.58   1.92  Male    Yes   Fri   Lunch     1
224         224       13.42   1.58  Male    Yes   Fri   Lunch     2
230         230       24.01   2.00  Male    Yes   Sat  Dinner     4
231         231       15.69   3.00  Male    Yes   Sat  Dinner     3
234         234       15.53   3.00  Male    Yes   Sat  Dinner     2
236         236       12.60   1.00  Male    Yes   Sat  Dinner     2
237         237       32.83   1.17  Male    Yes   Sat  Dinner     2
241         241       22.67   2.00  Male    Yes   Sat  Dinner     2

In [32]:
#với nam hút thuốc đi cặp thì lượng hút thuốc là bao nhiêu
ndc =tip.query('sex == "Male" and smoker == "Yes" and size ==2')
ndc

     Unnamed: 0  total_bill   tip   sex smoker   day    time  size
58           58       11.24  1.76  Male    Yes   Sat  Dinner     2
60           60       20.29  3.21  Male    Yes   Sat  Dinner     2
61           61       13.81  2.00  Male    Yes   Sat  Dinner     2
62           62       11.02  1.98  Male    Yes   Sat  Dinner     2
69           69       15.01  2.09  Male    Yes   Sat  Dinner     2
76           76       17.92  3.08  Male    Yes   Sat  Dinner     2
80           80       19.44  3.00  Male    Yes  Thur   Lunch     2
83           83       32.68  5.00  Male    Yes  Thur   Lunch     2
90           90       28.97  3.00  Male    Yes   Fri  Dinner     2
96           96       27.28  4.00  Male    Yes   Fri  Dinner     2
97           97       12.03  1.50  Male    Yes   Fri  Dinner     2
98           98       21.01  3.00  Male    Yes   Fri  Dinner     2
105         105       15.36  1.64  Male    Yes   Sat  Dinner     2
106         106       20.49  4.06  Male    Yes   Sat  Dinner     2
107         107       25.21  4.29  Male    Yes   Sat  Dinner     2
138         138       16.00  2.00  Male    Yes  Thur   Lunch     2
171         171       15.81  3.16  Male    Yes   Sat  Dinner     2
172         172        7.25  5.15  Male    Yes   Sun  Dinner     2
173         173       31.85  3.18  Male    Yes   Sun  Dinner     2
174         174       16.82  4.00  Male    Yes   Sun  Dinner     2
175         175       32.90  3.11  Male    Yes   Sun  Dinner     2
176         176       17.89  2.00  Male    Yes   Sun  Dinner     2
177         177       14.48  2.00  Male    Yes   Sun  Dinner     2
179         179       34.63  3.55  Male    Yes   Sun  Dinner     2
181         181       23.33  5.65  Male    Yes   Sun  Dinner     2
184         184       40.55  3.00  Male    Yes   Sun  Dinner     2
190         190       15.69  1.50  Male    Yes   Sun  Dinner     2
192         192       28.44  2.56  Male    Yes  Thur   Lunch     2
193         193       15.48  2.02  Male    Yes  Thur   Lunch     2
194         194       16.58  4.00  Male    Yes  Thur   Lunch     2
196         196       10.34  2.00  Male    Yes  Thur   Lunch     2
199         199       13.51  2.00  Male    Yes  Thur   Lunch     2
208         208       24.27  2.03  Male    Yes   Sat  Dinner     2
217         217       11.59  1.50  Male    Yes   Sat  Dinner     2
218         218        7.74  1.44  Male    Yes   Sat  Dinner     2
220         220       12.16  2.20  Male    Yes   Fri   Lunch     2
224         224       13.42  1.58  Male    Yes   Fri   Lunch     2
234         234       15.53  3.00  Male    Yes   Sat  Dinner     2
236         236       12.60  1.00  Male    Yes   Sat  Dinner     2
237         237       32.83  1.17  Male    Yes   Sat  Dinner     2
241         241       22.67  2.00  Male    Yes   Sat  Dinner     2

In [38]:
#nam đi nhiều 
ndn =tip.query('sex == "Male" and smoker == "Yes" and size >2')
ndn

     Unnamed: 0  total_bill    tip   sex smoker   day    time  size
56           56       38.01   3.00  Male    Yes   Sat  Dinner     4
63           63       18.29   3.76  Male    Yes   Sat  Dinner     4
95           95       40.17   4.73  Male    Yes   Fri  Dinner     4
170         170       50.81  10.00  Male    Yes   Sat  Dinner     3
180         180       34.65   3.68  Male    Yes   Sun  Dinner     4
182         182       45.35   3.50  Male    Yes   Sun  Dinner     3
183         183       23.17   6.50  Male    Yes   Sun  Dinner     4
187         187       30.46   2.00  Male    Yes   Sun  Dinner     5
189         189       23.10   4.00  Male    Yes   Sun  Dinner     3
200         200       18.71   4.00  Male    Yes  Thur   Lunch     3
204         204       20.53   4.00  Male    Yes  Thur   Lunch     4
206         206       26.59   3.41  Male    Yes   Sat  Dinner     3
207         207       38.73   3.00  Male    Yes   Sat  Dinner     4
210         210       30.06   2.00  Male    Yes   Sat  Dinner     3
211         211       25.89   5.16  Male    Yes   Sat  Dinner     4
216         216       28.15   3.00  Male    Yes   Sat  Dinner     5
230         230       24.01   2.00  Male    Yes   Sat  Dinner     4
231         231       15.69   3.00  Male    Yes   Sat  Dinner     3

In [36]:
#với nam hút thuốc đi cặp thì lượng hút thuốc là bao nhiêu vào buổi tối
ndc.query("time =='Lunch'")

     Unnamed: 0  total_bill   tip   sex smoker   day   time  size
80           80       19.44  3.00  Male    Yes  Thur  Lunch     2
83           83       32.68  5.00  Male    Yes  Thur  Lunch     2
138         138       16.00  2.00  Male    Yes  Thur  Lunch     2
192         192       28.44  2.56  Male    Yes  Thur  Lunch     2
193         193       15.48  2.02  Male    Yes  Thur  Lunch     2
194         194       16.58  4.00  Male    Yes  Thur  Lunch     2
196         196       10.34  2.00  Male    Yes  Thur  Lunch     2
199         199       13.51  2.00  Male    Yes  Thur  Lunch     2
220         220       12.16  2.20  Male    Yes   Fri  Lunch     2
224         224       13.42  1.58  Male    Yes   Fri  Lunch     2

## HIỂU DỮ LIỆU

1. Đọc dữ liệu
2. Xoá cột `Unnamed: 0`
3. Cho biết dữ liệu có bao nhiêu dòng, bao nhiêu thuộc tính.
4. Trong các thuộc tính, thuộc tính nào là thuộc tính phân loại, thuộc tính nào là thuộc tính định lượng
5. Có bao nhiêu nam, bao nhiêu nữ. Tỷ lệ bao nhiêu?
6. Có bao nhiêu người hút thuốc. Tỷ lệ bao nhiêu?
7. Ngày nào trong tuần khách hàng hay đến dùng bữa nhất. Tỷ lệ bao nhiêu?
8. Nhà hàng phục vụ bữa ăn nào nhiều nhất (Breakfast, Lunch, Dinner)?
9. Nhóm khách hàng dùng bữa tại nhà hàng nhiều nhất là bao nhiêu người?
10. Trung bình trong một bữa ăn nhà hàng phục vụ mấy khách?

In [41]:
#xóa cột Unnamed:0

tip_xoa_unnamed = tip.drop(columns=['Unnamed: 0'])
tip_xoa_unnamed

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
#du lieu có bao nhiêu dòng và bao nhiêu thuộc tính

tip.

## YẾU TỐ ẢNH HƯỞNG ĐẾN TIỀN TIP

Trong phần này, chúng ta thử tìm hiểu về tiền tip tại nhà hàng và các yếu tố có thể ảnh hưởng đến nó

1. Tỷ lệ nhận được tiền tip của nhà hàng là bao nhiêu?
2. Tỷ lệ tiền tip trên tổng hóa đơn là bao nhiêu?
3. Giữa nam và nữ ai tip nhiều tiền hơn, ai tip thường xuyên hơn?
4. Giữa người hút thuốc và người không hút thuốc ai tip nhiều tiền hơn, ai tip thường xuyên hơn?
5. Thống kê tổng số tiền tip nhận được theo ngày.

# TRỰC QUAN DỮ LIỆU

Để dễ hình dung, bạn hãy trực quan với một số câu hỏi sau đây:

1. Vẽ đồ thị thể hiện tổng tiền tip theo ngày
2. Vẽ đồ thị thể hiện tổng tiền tip theo bữa ăn (time)
3. Vẽ đồ thị histogram của tổng hoá đơn
4. Vẽ đồ thị boxplot của tổng hoá đơn
5. Vẽ đồ thị để kiểm tra sự liên quan giữa tổng hoá đơn và tiền tip.
6. So sánh số tiền mà khách hàng đã chi giữa các ngày trong tuần.

## Với Matplotlib

Bạn hãy trực quan với thư viện matplotlib

## Với Seaborn

Bạn hãy tìm hiểu và trực quan với thư viện seaborn